In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
.appName('read mode').getOrCreate()

25/06/07 14:46:37 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
hdfs_path = '/data/customers_100.csv'

In [4]:
df_failfast= spark.read \
.format('csv').option('header','true').option('inferschema','true') \
.option('mode','failfast').load(hdfs_path)

In [5]:
df_failfast.show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          0| Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4| Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5| Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6| Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
|          7| Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|       2023-08-05|     true|
|         11|Customer_11|    Delhi|West Bengal|  India|       2023-08-02|    false|
|         12|Customer_12|  Chennai|    Gujarat|  India|       2023-11-21|    false|
|         13|Customer_13|  Chennai|  Karnataka|  India|       2023-11-06|     true|
|         14|Customer_14|Hyderabad| Tamil Nadu|  India|       2023-02-07|    false|
|         15|Customer_15|   Mumbai|    Gujarat|  India|       2023-03-02|     true|
|         16|Customer_16|  Chennai|  Karnataka|  India|       2023-04-05|    false|
|         17|Customer_17|Hyderabad|West Bengal|  India|       2023-08-21|    false|
|         18|Customer_18|     Pune|      Delhi|  India|       2023-10-04|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|       2023-02-05|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows

In [6]:
df_permissive= spark.read \
.format('csv').option('header','true').option('inferschema','true') \
.option('mode','permissive').load(hdfs_path)

df_permissive.show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          0| Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4| Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5| Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6| Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
|          7| Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|       2023-08-05|     true|
|         11|Customer_11|    Delhi|West Bengal|  India|       2023-08-02|    false|
|         12|Customer_12|  Chennai|    Gujarat|  India|       2023-11-21|    false|
|         13|Customer_13|  Chennai|  Karnataka|  India|       2023-11-06|     true|
|         14|Customer_14|Hyderabad| Tamil Nadu|  India|       2023-02-07|    false|
|         15|Customer_15|   Mumbai|    Gujarat|  India|       2023-03-02|     true|
|         16|Customer_16|  Chennai|  Karnataka|  India|       2023-04-05|    false|
|         17|Customer_17|Hyderabad|West Bengal|  India|       2023-08-21|    false|
|         18|Customer_18|     Pune|      Delhi|  India|       2023-10-04|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|       2023-02-05|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows

In [7]:
df_dropmalformed= spark.read \
.format('csv').option('header','true').option('inferschema','true') \
.option('mode','dropmalformed').load(hdfs_path)

df_dropmalformed.show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          0| Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3| Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4| Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5| Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6| Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
|          7| Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|       2023-08-05|     true|
|         11|Customer_11|    Delhi|West Bengal|  India|       2023-08-02|    false|
|         12|Customer_12|  Chennai|    Gujarat|  India|       2023-11-21|    false|
|         13|Customer_13|  Chennai|  Karnataka|  India|       2023-11-06|     true|
|         14|Customer_14|Hyderabad| Tamil Nadu|  India|       2023-02-07|    false|
|         15|Customer_15|   Mumbai|    Gujarat|  India|       2023-03-02|     true|
|         16|Customer_16|  Chennai|  Karnataka|  India|       2023-04-05|    false|
|         17|Customer_17|Hyderabad|West Bengal|  India|       2023-08-21|    false|
|         18|Customer_18|     Pune|      Delhi|  India|       2023-10-04|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|       2023-02-05|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows