In [1]:
from pyspark.sql import SparkSession

In [1]:
spark = SparkSession.builder\
.appName('Dataframe Basics').getOrCreate()

25/06/07 06:26:03 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
data = [
    (0,"Customer 0","Bangalore","Karnataka","India","2025-06-02",True),
    (1,"Customer 1","Delhi","Delhi","India","2025-06-02",True)
]
columns = ["customer_id","name","city","state","country","registration_date","is_active"]

In [3]:
df = spark.createDataFrame(data,columns)

In [4]:
df.show()

+-----------+----------+---------+---------+-------+-----------------+---------+
|customer_id|      name|     city|    state|country|registration_date|is_active|
+-----------+----------+---------+---------+-------+-----------------+---------+
|          0|Customer 0|Bangalore|Karnataka|  India|       2025-06-02|     true|
|          1|Customer 1|    Delhi|    Delhi|  India|       2025-06-02|     true|
+-----------+----------+---------+---------+-------+-----------------+---------+

In [5]:
df.select('name').show()

+----------+
|      name|
+----------+
|Customer 0|
|Customer 1|
+----------+

Reading data from hdfs csv

In [6]:
df_2 = spark.read\
.format('csv')\
.option('header','true')\
.option('inferschema',"true")\
.load('/data/customers_100.csv')

In [7]:
df_2.show(10)

+-----------+----------+---------+-----------+-------+-----------------+---------+
|customer_id|      name|     city|      state|country|registration_date|is_active|
+-----------+----------+---------+-----------+-------+-----------------+---------+
|          0|Customer_0|     Pune|Maharashtra|  India|       2023-06-29|    false|
|          1|Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2|Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          3|Customer_3|Bangalore|  Karnataka|  India|       2023-10-17|    false|
|          4|Customer_4|Ahmedabad|  Karnataka|  India|       2023-03-14|    false|
|          5|Customer_5|Hyderabad|  Karnataka|  India|       2023-07-28|    false|
|          6|Customer_6|     Pune|      Delhi|  India|       2023-08-29|    false|
|          7|Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8|Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9|Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
+-----------+----------+---------+-----------+-------+-----------------+---------+
only showing top 10 rows

In [9]:
df_2.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- country: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- is_active: boolean (nullable = true)

In [13]:
active_customers = df_2.filter('is_active = true')

In [14]:
active_customers

DataFrame[customer_id: int, name: string, city: string, state: string, country: string, registration_date: date, is_active: boolean]

In [15]:
active_customers.show()

+-----------+-----------+---------+-----------+-------+-----------------+---------+
|customer_id|       name|     city|      state|country|registration_date|is_active|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
|          1| Customer_1|Bangalore| Tamil Nadu|  India|       2023-12-07|     true|
|          2| Customer_2|Hyderabad|    Gujarat|  India|       2023-10-27|     true|
|          7| Customer_7|Ahmedabad|West Bengal|  India|       2023-12-28|     true|
|          8| Customer_8|     Pune|  Karnataka|  India|       2023-06-22|     true|
|          9| Customer_9|   Mumbai|  Telangana|  India|       2023-01-05|     true|
|         10|Customer_10|     Pune|    Gujarat|  India|       2023-08-05|     true|
|         13|Customer_13|  Chennai|  Karnataka|  India|       2023-11-06|     true|
|         15|Customer_15|   Mumbai|    Gujarat|  India|       2023-03-02|     true|
|         18|Customer_18|     Pune|      Delhi|  India|       2023-10-04|     true|
|         19|Customer_19|  Kolkata|    Gujarat|  India|       2023-02-05|     true|
|         20|Customer_20|Hyderabad|  Telangana|  India|       2023-01-01|     true|
|         21|Customer_21|Bangalore| Tamil Nadu|  India|       2023-05-30|     true|
|         22|Customer_22|  Chennai|West Bengal|  India|       2023-08-03|     true|
|         26|Customer_26|    Delhi|      Delhi|  India|       2023-03-22|     true|
|         27|Customer_27|Ahmedabad|    Gujarat|  India|       2023-07-08|     true|
|         28|Customer_28|Hyderabad|Maharashtra|  India|       2023-05-31|     true|
|         34|Customer_34|  Kolkata|    Gujarat|  India|       2023-11-01|     true|
|         36|Customer_36|Ahmedabad| Tamil Nadu|  India|       2023-10-07|     true|
|         37|Customer_37|Hyderabad|  Karnataka|  India|       2023-03-21|     true|
|         42|Customer_42|Bangalore|    Gujarat|  India|       2023-08-11|     true|
+-----------+-----------+---------+-----------+-------+-----------------+---------+
only showing top 20 rows

In [16]:
df_2.select('customer_id','name','city').show()

+-----------+-----------+---------+
|customer_id|       name|     city|
+-----------+-----------+---------+
|          0| Customer_0|     Pune|
|          1| Customer_1|Bangalore|
|          2| Customer_2|Hyderabad|
|          3| Customer_3|Bangalore|
|          4| Customer_4|Ahmedabad|
|          5| Customer_5|Hyderabad|
|          6| Customer_6|     Pune|
|          7| Customer_7|Ahmedabad|
|          8| Customer_8|     Pune|
|          9| Customer_9|   Mumbai|
|         10|Customer_10|     Pune|
|         11|Customer_11|    Delhi|
|         12|Customer_12|  Chennai|
|         13|Customer_13|  Chennai|
|         14|Customer_14|Hyderabad|
|         15|Customer_15|   Mumbai|
|         16|Customer_16|  Chennai|
|         17|Customer_17|Hyderabad|
|         18|Customer_18|     Pune|
|         19|Customer_19|  Kolkata|
+-----------+-----------+---------+
only showing top 20 rows

In [17]:
spark.stop()