In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('OlistData').getOrCreate()

25/07/20 15:30:32 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
!hadoop fs -ls /data/olist/

Found 9 items
-rw-r--r--   2 geurecruitanandraj hadoop    9033957 2025-07-13 12:45 /data/olist/olist_customers_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   61273883 2025-07-13 12:45 /data/olist/olist_geolocation_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   15438671 2025-07-13 12:45 /data/olist/olist_order_items_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop    5777138 2025-07-13 12:45 /data/olist/olist_order_payments_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   14451670 2025-07-13 12:45 /data/olist/olist_order_reviews_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   17654914 2025-07-13 12:45 /data/olist/olist_orders_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop    2379446 2025-07-13 12:45 /data/olist/olist_products_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop     174703 2025-07-13 12:45 /data/olist/olist_sellers_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop       2613 2025-07-13 12:45 /data/olist/product_category_name_translation.csv

In [4]:
hdfs_path = '/data/olist/'

In [5]:
products_df = spark.read.csv(hdfs_path+'olist_products_dataset.csv',header=True,inferSchema=True)
order_df = spark.read.csv(hdfs_path+'olist_orders_dataset.csv',header = True , inferSchema = True)
item_df = spark.read.csv(hdfs_path+'olist_order_items_dataset.csv',header = True, inferSchema=True)
payment_df = spark.read.csv(hdfs_path+'olist_order_payments_dataset.csv',header = True , inferSchema = True)
reviews_df = spark.read.csv(hdfs_path+'olist_order_reviews_dataset.csv',header = True , inferSchema = True)
location_df = spark.read.csv(hdfs_path+'olist_geolocation_dataset.csv',header = True , inferSchema = True)
seller_df = spark.read.csv(hdfs_path+'olist_sellers_dataset.csv',header = True , inferSchema = True)
trnaslation_df = spark.read.csv(hdfs_path+'product_category_name_translation.csv',header = True , inferSchema = True)

In [6]:
customers_df = spark.read.csv(hdfs_path+'olist_customers_dataset.csv',header=True, inferSchema=True)

In [7]:
customers_df.show(5)

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                    9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                    1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                    8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 5 rows

In [8]:
from pyspark.sql.functions import *

In [9]:
def missing_values(df,df_name):
    print(f"Missing values in : {df_name} : ")
    df.select([count(when(col(c).isNull(),1)).alias(c) for c in df.columns]).show()

In [10]:
missing_values(customers_df,'customers')

Missing values in : customers :
+-----------+------------------+------------------------+-------------+--------------+
|customer_id|customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+-----------+------------------+------------------------+-------------+--------------+
|          0|                 0|                       0|            0|             0|
+-----------+------------------+------------------------+-------------+--------------+

In [11]:
missing_values(order_df,'orders')

Missing values in : orders :
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|order_id|customer_id|order_status|order_purchase_timestamp|order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+
|       0|          0|           0|                       0|              160|                        1783|                         2965|                            0|
+--------+-----------+------------+------------------------+-----------------+----------------------------+-----------------------------+-----------------------------+

In [12]:
missing_values(item_df,'items')

Missing values in : items :
+--------+-------------+----------+---------+-------------------+-----+-------------+
|order_id|order_item_id|product_id|seller_id|shipping_limit_date|price|freight_value|
+--------+-------------+----------+---------+-------------------+-----+-------------+
|       0|            0|         0|        0|                  0|    0|            0|
+--------+-------------+----------+---------+-------------------+-----+-------------+

### Handling missing values :
1. Drop the missing values , we could do the for non critical columns
2. Fill missing values - for numerical values
3. Impute missing values - for continuous data

In [13]:
order_df_cleaned = order_df.na.drop(subset=['order_id','customer_id','order_status'])

In [14]:
order_df_cleaned.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [15]:
order_df_cleaned = order_df.fillna({'order_delivered_customer_date':'9999-12-31'})

In [16]:
order_df_cleaned.show(10)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        NULL|          9999-12-31 00:00:00|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 10 rows

# Impute missing values

In [17]:
from pyspark.ml.feature import Imputer

In [18]:
payment_df.show(20)

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|        141.9|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [ ]:
imputer = Imputer(inputCols=['payment_value'],outputCols=['payment_value_imputed']).setStrategy('mean')
payments_df_cleaned = impute.fit(payment_df).transform(payment_df)

In [20]:
payment_with_null = payment_df.withColumn('payment_value',when(col('payment_value') != 99.33 ,col('payment_value')).otherwise(lit(None)))

In [21]:
payment_with_null.show()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|         NULL|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|        141.9|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [23]:
imputer = Imputer(inputCols=['payment_value'],outputCols=['payment_value_imputed']).setStrategy('mean')
payments_df_cleaned = imputer.fit(payment_with_null).transform(payment_with_null)
payments_df_cleaned.show(6)

+--------------------+------------------+------------+--------------------+-------------+---------------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|payment_value_imputed|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|         NULL|   154.10987195285352|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|                24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|                65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|               107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|               128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|                96.12|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
only showing top 6 rows

In [24]:
# Trying median for the same imputer instead of mean
imputer = Imputer(inputCols=['payment_value'],outputCols=['payment_value_imputed']).setStrategy('median')
payments_df_cleaned = imputer.fit(payment_with_null).transform(payment_with_null)
payments_df_cleaned.show(6)

+--------------------+------------------+------------+--------------------+-------------+---------------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|payment_value_imputed|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|         NULL|                100.0|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|                24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|                65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|               107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|               128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|                96.12|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
only showing top 6 rows

### Standerdizing the format

In [25]:
def print_schema(df,df_name):
    print(f"Schema of : {df_name} : ")
    df.printSchema()

In [26]:
print_schema(order_df,'orders')

Schema of : orders :
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: timestamp (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_carrier_date: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- order_estimated_delivery_date: timestamp (nullable = true)

In [27]:
order_df_cleaned.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

In [28]:
order_df_cleaned = order_df_cleaned.withColumn('order_purchase_timestamp',to_date(col('order_purchase_timestamp')))

In [31]:
order_df_cleaned.show(8)
#timestamp cleared

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|              2018-07-24|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|              2018-08-08|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|              2017-11-18|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|              2018-02-13|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|              2017-07-09|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|              2017-04-11|2017-04-13 13:25:17|                        NULL|          9999-12-31 00:00:00|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|              2017-05-16|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 8 rows

In [32]:
payments_df_cleaned.show(8)

+--------------------+------------------+------------+--------------------+-------------+---------------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|payment_value_imputed|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|         NULL|                100.0|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|                24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|                65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|               107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|               128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|                96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|                81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|                51.84|
+--------------------+------------------+------------+--------------------+-------------+---------------------+
only showing top 8 rows

In [33]:
payments_df_cleaned = payments_df_cleaned.withColumn('payment_type',when(col('payment_type')=='boleto','Bank Transfer')
                                                                        .when(col('payment_type')=='credit_card','Credit Card'))

In [35]:
payments_df_cleaned.show(20)

+--------------------+------------------+-------------+--------------------+-------------+---------------------+
|            order_id|payment_sequential| payment_type|payment_installments|payment_value|payment_value_imputed|
+--------------------+------------------+-------------+--------------------+-------------+---------------------+
|b81ef226f3fe1789b...|                 1|  Credit Card|                   8|         NULL|                100.0|
|a9810da82917af2d9...|                 1|  Credit Card|                   1|        24.39|                24.39|
|25e8ea4e93396b6fa...|                 1|  Credit Card|                   1|        65.71|                65.71|
|ba78997921bbcdc13...|                 1|  Credit Card|                   8|       107.78|               107.78|
|42fdf880ba16b47b5...|                 1|  Credit Card|                   2|       128.45|               128.45|
|298fcdf1f73eb413e...|                 1|  Credit Card|                   2|        96.12|                96.12|
|771ee386b001f0620...|                 1|  Credit Card|                   1|        81.16|                81.16|
|3d7239c394a212faa...|                 1|  Credit Card|                   3|        51.84|                51.84|
|1f78449c87a54faf9...|                 1|  Credit Card|                   6|       341.09|               341.09|
|0573b5e23cbd79800...|                 1|Bank Transfer|                   1|        51.95|                51.95|
|d88e0d5fa41661ce0...|                 1|  Credit Card|                   8|       188.73|               188.73|
|2480f727e869fdeb3...|                 1|  Credit Card|                   1|        141.9|                141.9|
|616105c9352a9668c...|                 1|  Credit Card|                   1|        75.78|                75.78|
|cf95215a722f3ebf2...|                 1|  Credit Card|                   5|       102.66|               102.66|
|769214176682788a9...|                 1|  Credit Card|                   4|       105.28|               105.28|
|12e5cfe0e4716b59a...|                 1|  Credit Card|                  10|       157.45|               157.45|
|61059985a6fc0ad64...|                 1|  Credit Card|                   1|       132.04|               132.04|
|79da3f5fe31ad1e45...|                 1|  Credit Card|                   1|        98.94|                98.94|
|8ac09207f415d55ac...|                 1|  Credit Card|                   4|       244.15|               244.15|
|b2349a3f20dfbeef6...|                 1|  Credit Card|                   3|       136.71|               136.71|
+--------------------+------------------+-------------+--------------------+-------------+---------------------+
only showing top 20 rows

In [36]:
customers_df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: integer (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [37]:
customers_df.show()

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                    9790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                    1151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                    8775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
|879864dab9bc30475...|4c93744516667ad3b...|                   89254|      jaragua do sul|            SC|
|fd826e7cf63160e53...|addec96d2e059c80c...|                    4534|           sao paulo|            SP|
|5e274e7a0c3809e14...|57b2a98a409812fe9...|                   35182|             timoteo|            MG|
|5adf08e34b2e99398...|1175e95fb47ddff9d...|                   81560|            curitiba|            PR|
|4b7139f34592b3a31...|9afe194fb833f79e3...|                   30575|      belo horizonte|            MG|
|9fb35e4ed6f0a14a4...|2a7745e1ed516b289...|                   39400|       montes claros|            MG|
|5aa9e4fdd4dfd2095...|2a46fb94aef5cbeeb...|                   20231|      rio de janeiro|            RJ|
|b2d1536598b73a9ab...|918dc87cd72cd9f6e...|                   18682|    lencois paulista|            SP|
|eabebad39a88bb6f5...|295c05e81917928d7...|                    5704|           sao paulo|            SP|
|1f1c7bf1c9b041b29...|3151a81801c838636...|                   95110|       caxias do sul|            RS|
|206f3129c0e4d7d0b...|21f748a16f4e1688a...|                   13412|          piracicaba|            SP|
|a7c125a0a07b75146...|5c2991dbd08bbf3cf...|                   22750|      rio de janeiro|            RJ|
|c5c61596a3b6bd0ce...|b6e99561fe6f34a55...|                    7124|           guarulhos|            SP|
|9b8ce803689b3562d...|7f3a72e8f988c6e73...|                    5416|           sao paulo|            SP|
|49d0ea0986edde72d...|3e6fd6b2f0d499456...|                   68485|              pacaja|            PA|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [38]:
customers_df_cleaned = customers_df.withColumn('customer_zip_code_prefix',col('customer_zip_code_prefix').cast('string'))

In [39]:
customers_df_cleaned.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

### Remove duplicate records

In [ ]:
customers_df_cleaned = customers_df_cleaned.dropDuplicates(['customer_id'])

In [41]:
order_with_detail = order_df_cleaned.join(item_df,'order_id','left').join(payments_df_cleaned,'order_id','left')\
.join(customers_df_cleaned,'customer_id','left')

In [42]:
order_with_detail.show(5)

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+------------------+-------------+--------------------+-------------+---------------------+--------------------+------------------------+-------------+--------------+
|         customer_id|            order_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|payment_sequential| payment_type|payment_installments|payment_value|payment_value_imputed|  customer_unique_id|customer_zip_code_prefix|customer_city|customer_state|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+------------------+-------------+--------------------+-------------+---------------------+--------------------+------------------------+-------------+--------------+
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15|29.99|         8.72|                 2|         NULL|                   1|        18.59|                18.59|7c396fd4830fd0422...|                    3149|    sao paulo|            SP|
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15|29.99|         8.72|                 3|         NULL|                   1|          2.0|                  2.0|7c396fd4830fd0422...|                    3149|    sao paulo|            SP|
|9ef432eb625129730...|e481f51cbdc54678b...|   delivered|              2017-10-02|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|            1|87285b34884572647...|3504c0cb71d7fa48d...|2017-10-06 11:07:15|29.99|         8.72|                 1|  Credit Card|                   1|        18.12|                18.12|7c396fd4830fd0422...|                    3149|    sao paulo|            SP|
|b0830fb4747a6c6d2...|53cdb2fc8bc7dce0b...|   delivered|              2018-07-24|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|            1|595fac2a385ac33a8...|289cdb325fb7e7f89...|2018-07-30 03:24:27|118.7|        22.76|                 1|Bank Transfer|                   1|       141.46|               141.46|af07308b275d755c9...|                   47813|    barreiras|            BA|
|41ce2a54c0b03bf34...|47770eb9100c2d0c4...|   delivered|              2018-08-08|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|            1|aa4383b373c6aca5d...|4869f7a5dfa277a7d...|2018-08-13 08:55:23|159.9|        19.22|                 1|  Credit Card|                   3|       179.12|               179.12|3a653a41f6f9fc3d2...|                   75265|   vianopolis|            GO|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+------------------+-------------+--------------------+-------------+---------------------+--------------------+------------------------+-------------+--------------+
only showing top 5 rows

In [43]:
order_with_total_value = order_with_detail.groupBy('order_id').agg(sum('payment_value').alias('total_order_value'))

In [44]:
order_with_total_value.show(5)

+--------------------+-----------------+
|            order_id|total_order_value|
+--------------------+-----------------+
|118045506e1c1dda0...|           1802.0|
|f44cb69655f8e4d13...|           164.32|
|edcc6b79e8394346b...|           162.63|
|9f98d6530155e3b38...|           316.76|
|949280c70c6d62ec9...|            49.42|
+--------------------+-----------------+
only showing top 5 rows

### Advanced Transformations

approxQuantile -https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.approxQuantile.html

In [45]:
item_df.show(6)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.9|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27| 21.9|        12.69|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 6 rows

In [46]:
quantiles = item_df.approxQuantile('price',[0.01,0.99],0.0) # Divides data into 2 parts , 1rst and 99th percentile 
low_cutoff , hogh_cuttoff = quantiles[0],quantiles[1]

In [47]:
low_cutoff,hogh_cuttoff

(9.99, 890.0)

In [49]:
order_item_cleaned = item_df.filter((col('price') >= low_cutoff) & (col('price') <= hogh_cuttoff))

In [51]:
order_item_cleaned.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35|  58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13| 239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30| 199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51| 199.9|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27|  21.9|        12.69|
|00054e8431b9d7675...|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31|  19.9|        11.85|
|000576fe39319847c...|            1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45| 810.0|        70.75|
|0005a1a1728c9d785...|            1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|        11.65|
|0005f50442cb953dc...|            1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|         11.4|
|00061f2a7bc09da83...|            1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|
|00063b381e2406b52...|            1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39|  45.0|        12.98|
|0006ec9db01a64e59...|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20|  74.0|        23.32|
|0008288aa423d2a3f...|            1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|        13.37|
|0008288aa423d2a3f...|            2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52|  49.9|        13.37|
|0009792311464db53...|            1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10|  99.9|        27.65|
|0009c9a17f916a706...|            1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53| 639.0|        11.34|
|000aed2e25dbad2f9...|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03| 144.0|         8.77|
|000c3e6612759851c...|            1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13|  99.0|        13.71|
|000e562887b1f2006...|            1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37|  25.0|        16.11|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

## See now the outliars are removed from our data, so now our data is much more cleaned as we have now removed the 1%ler and 99%lers. Now our mean is more relaistic and not much imaginary as outliars in a large number effect mena values by a lot.

In [53]:
payment_df.summary()

DataFrame[summary: string, order_id: string, payment_sequential: string, payment_type: string, payment_installments: string, payment_value: string]

In [54]:
payment_df.select('payment_installments').summary().show()

+-------+--------------------+
|summary|payment_installments|
+-------+--------------------+
|  count|              103886|
|   mean|   2.853348863176944|
| stddev|  2.6870506738564925|
|    min|                   0|
|    25%|                   1|
|    50%|                   1|
|    75%|                   4|
|    max|                  24|
+-------+--------------------+

In [55]:
products_df.show()

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|
|41d3672d4792049fa...| instrumentos_musi...|                 60|                       745|                 1|             200|               38|                5|              11|
|732bd381ad09e530f...|           cool_stuff|                 56|                      1272|                 4|           18350|               70|               24|              44|
|2548af3e6e77a690c...|     moveis_decoracao|                 56|                       184|                 2|             900|               40|                8|              40|
|37cc742be07708b53...|     eletrodomesticos|                 57|                       163|                 1|             400|               27|               13|              17|
|8c92109888e8cdf9d...|           brinquedos|                 36|                      1156|                 1|             600|               17|               10|              12|
|14aa47b7fe5c25522...|      cama_mesa_banho|                 54|                       630|                 1|            1100|               16|               10|              16|
|03b63c5fc16691530...|                bebes|                 49|                       728|                 4|            7150|               50|               19|              45|
|cf55509ea8edaaac1...| instrumentos_musi...|                 43|                      1827|                 3|             250|               17|                7|              17|
|7bb6f29c2be577161...|     moveis_decoracao|                 51|                      2083|                 2|             600|               68|               11|              13|
|eb31436580a610f20...| construcao_ferram...|                 59|                      1602|                 4|             200|               17|                7|              17|
|3bb7f144022e67327...|        esporte_lazer|                 22|                      3021|                 1|             800|               16|                2|              11|
|6a2fb4dd53d2cdb88...|           perfumaria|                 39|                       346|                 2|             400|               27|                5|              20|
|a1b71017a84f92fd8...| informatica_acess...|                 59|                       636|                 1|             900|               40|               15|              20|
|a0736b92e52f6cead...|     moveis_decoracao|                 56|                       296|                 2|            1700|              100|                7|              15|
|f53103a77d9cf245e...|      cama_mesa_banho|                 52|                       206|                 1|             500|               16|               10|              16|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
only showing top 20 rows

In [56]:
products_df_cleaned = products_df.withColumn(
'product_size_category',when(col('product_weight_g')<500,'Small').when(col('product_weight_g').between(500,2000),'Medium').otherwise('Large')
)

In [57]:
products_df_cleaned.show()

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|product_size_category|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|                Small|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|               Medium|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|                Small|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|                Small|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|               Medium|
|41d3672d4792049fa...| instrumentos_musi...|                 60|                       745|                 1|             200|               38|                5|              11|                Small|
|732bd381ad09e530f...|           cool_stuff|                 56|                      1272|                 4|           18350|               70|               24|              44|                Large|
|2548af3e6e77a690c...|     moveis_decoracao|                 56|                       184|                 2|             900|               40|                8|              40|               Medium|
|37cc742be07708b53...|     eletrodomesticos|                 57|                       163|                 1|             400|               27|               13|              17|                Small|
|8c92109888e8cdf9d...|           brinquedos|                 36|                      1156|                 1|             600|               17|               10|              12|               Medium|
|14aa47b7fe5c25522...|      cama_mesa_banho|                 54|                       630|                 1|            1100|               16|               10|              16|               Medium|
|03b63c5fc16691530...|                bebes|                 49|                       728|                 4|            7150|               50|               19|              45|                Large|
|cf55509ea8edaaac1...| instrumentos_musi...|                 43|                      1827|                 3|             250|               17|                7|              17|                Small|
|7bb6f29c2be577161...|     moveis_decoracao|                 51|                      2083|                 2|             600|               68|               11|              13|               Medium|
|eb31436580a610f20...| construcao_ferram...|                 59|                      1602|                 4|             200|               17|                7|              17|                Small|
|3bb7f144022e67327...|        esporte_lazer|                 22|                      3021|                 1|             800|               16|                2|              11|               Medium|
|6a2fb4dd53d2cdb88...|           perfumaria|                 39|                       346|                 2|             400|               27|                5|              20|                Small|
|a1b71017a84f92fd8...| informatica_acess...|                 59|                       636|                 1|             900|               40|               15|              20|               Medium|
|a0736b92e52f6cead...|     moveis_decoracao|                 56|                       296|                 2|            1700|              100|                7|              15|               Medium|
|f53103a77d9cf245e...|      cama_mesa_banho|                 52|                       206|                 1|             500|               16|               10|              16|               Medium|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
only showing top 20 rows

In [58]:
# Total Revenue per seller

In [59]:
!hadoop fs -ls /data/olist/

Found 9 items
-rw-r--r--   2 geurecruitanandraj hadoop    9033957 2025-07-13 12:45 /data/olist/olist_customers_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   61273883 2025-07-13 12:45 /data/olist/olist_geolocation_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   15438671 2025-07-13 12:45 /data/olist/olist_order_items_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop    5777138 2025-07-13 12:45 /data/olist/olist_order_payments_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   14451670 2025-07-13 12:45 /data/olist/olist_order_reviews_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop   17654914 2025-07-13 12:45 /data/olist/olist_orders_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop    2379446 2025-07-13 12:45 /data/olist/olist_products_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop     174703 2025-07-13 12:45 /data/olist/olist_sellers_dataset.csv
-rw-r--r--   2 geurecruitanandraj hadoop       2613 2025-07-13 12:45 /data/olist/product_category_name_translation.csv

### Saving the data in parquet foemat in haddop

In [60]:
!hadoop fs -mkdir /data/olist_proc

In [61]:
order_with_detail.write.mode('overwrite').parquet('/data/olist_proc/cleaned_data.parquet')

In [62]:
!hadoop fs -ls /data/olist_proc

Found 1 items
drwxr-xr-x   - root hadoop          0 2025-07-20 17:12 /data/olist_proc/cleaned_data.parquet

In [64]:
products_df_cleaned.write.mode('overwrite').parquet('/data/olist_proc/PRODUCT_df_cleaned.parquet')

In [65]:
!hadoop fs -ls /data/olist_proc

Found 2 items
drwxr-xr-x   - root hadoop          0 2025-07-20 17:16 /data/olist_proc/PRODUCT_df_cleaned.parquet
drwxr-xr-x   - root hadoop          0 2025-07-20 17:12 /data/olist_proc/cleaned_data.parquet

#### Saving the file as hive external table

In [63]:
order_with_detail.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: date (nullable = true)
 |-- order_approved_at: timestamp (nullable = true)
 |-- order_delivered_carrier_date: timestamp (nullable = true)
 |-- order_delivered_customer_date: timestamp (nullable = true)
 |-- order_estimated_delivery_date: timestamp (nullable = true)
 |-- order_item_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: timestamp (nullable = true)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = true)
 |-- payment_sequential: integer (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- payment_installments: integer (nullable = true)
 |-- payment_value: double (nullable = true)
 |-- payment_value_imputed: double (nullable = true)
 |-- customer_unique_id: string (nullable = true)
 |-- customer_zip_code_prefix: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)

In [66]:
products_df_cleaned.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_category_name: string (nullable = true)
 |-- product_name_lenght: integer (nullable = true)
 |-- product_description_lenght: integer (nullable = true)
 |-- product_photos_qty: integer (nullable = true)
 |-- product_weight_g: integer (nullable = true)
 |-- product_length_cm: integer (nullable = true)
 |-- product_height_cm: integer (nullable = true)
 |-- product_width_cm: integer (nullable = true)
 |-- product_size_category: string (nullable = false)

In [72]:
spark.sql('''CREATE EXTERNAL TABLE cleaned_orders(
    product_id String,
    product_category_name String,
    product_name_lenght INT,
    product_description_lenght INT,
    product_photos_qty INT,
    product_weight_g INT,
    product_length_cm INT,
    product_height_cm INT,
    product_width_cm INT,
    product_size_category String
)
STORED AS PARQUET
LOCATION '/data/olist_proc/PRODUCT_df_cleaned_table.parquet'
''')

ivysettings.xml file not found in HIVE_HOME or HIVE_CONF_DIR,/etc/hive/conf.dist/ivysettings.xml will be used
25/07/20 17:25:11 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

DataFrame[]

In [73]:
!hadoop fs -ls /data/olist_proc

Found 3 items
drwxr-xr-x   - root hadoop          0 2025-07-20 17:16 /data/olist_proc/PRODUCT_df_cleaned.parquet
drwxr-xr-x   - root hadoop          0 2025-07-20 17:25 /data/olist_proc/PRODUCT_df_cleaned_table.parquet
drwxr-xr-x   - root hadoop          0 2025-07-20 17:12 /data/olist_proc/cleaned_data.parquet

In [77]:
spark.sql('''
Select * from cleaned_orders limit 5
''').show()

+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
|product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|product_size_category|
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
+----------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+

In [75]:
spark.sql('''CREATE EXTERNAL TABLE product_details(
    product_id String,
    product_category_name String,
    product_name_lenght INT,
    product_description_lenght INT,
    product_photos_qty INT,
    product_weight_g INT,
    product_length_cm INT,
    product_height_cm INT,
    product_width_cm INT,
    product_size_category String
)
STORED AS PARQUET
LOCATION '/data/olist_proc/PRODUCT_df_cleaned.parquet'
''')

DataFrame[]

In [76]:
spark.sql('''
Select * from product_details limit 5
''').show()

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|product_size_category|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|                Small|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|               Medium|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|                Small|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|                Small|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|               Medium|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+---------------------+