Lambda functions - Any function takes a memory space but for limited and small functionality we could use lambda functions. We might not use the user defined funtions everytime but still the memory is utilized .

In [ ]:
def ApplyOnList(l1,anyfunction):
  l2 = []
  for i in l1:
    l2.append(anyfunction(i))

  return l2

In [ ]:
ApplyOnList([1,2,3,4,5],lambda x:x*x)

[1, 4, 9, 16, 25]

In [ ]:
list(map(lambda x:x*x , [1,2,3,7,5]))

[1, 4, 9, 49, 25]

Filter - function on an iterable , everything that is true is returned , 0, False , [] , () , "" , NULL are false.

In [ ]:
def iseven(n):
  return n%2 == 0

In [ ]:
l1 = [1,2,3,4,5,6,7,43,9,10]
l2 = map(lambda x : x**2 , l1)

In [ ]:
even = filter(iseven,l2)
list(even)

[4, 16, 36, 100]

In [ ]:
list(filter(lambda x:x>10 , [1,2,3,4,45,545,54,45,4,43,34,2,23,31,31,313,133,1,31]))

[45, 545, 54, 45, 43, 34, 23, 31, 31, 313, 133, 31]

Reduce - Reducing an iterable to reduce to a single value

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda a,b:a+b , [1,2,3,4,5])

15

In [ ]:
reduce(lambda a,b:b , [1,2,3,4,5])

5

In [ ]:
reduce(lambda a,b:a*b , [1,2,3,4,5])

120